<% include partials/_header %>


<div class="col-md-7 mx-auto">
  <h2>Lista de Profesores</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      <% if (usuarios.length > 0) { %>
        <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario._id %></td>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.apellidos %></td>
            <td><%= usuario.email %></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="3" class="text-center">No hay profesores registrados</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>


<% include partials/_footer %>