<% include partials/_header %>
<!-- Esta línea coloca el formulario en el centro de la pantalla. -->
<div class="row justify-content-center mt-4">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="/signin" method="POST">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button class="btn btn-primary" type="submit">
            SignIn
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%if (signinMessage) {%>
  <div class="row justify-content-center mt-3">
    <div class="clo-md-5 text-center">
      <p style="color:#FF0000;"><%= signinMessage %></p>
    </div>
  </div>
<% } %>
<% include partials/_footer %>