<% include partials/_header %>

<h2 class="text-center mt-4">Crear Nuevo Software</h2>
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="/signupSoftware" method="POST" enctype="multipart/form-data">
                    <p>
                        <input type="text" name="descripcion" placeholder="descripcion" required>
                        <input type="text" name="link" placeholder="link" required>
                        <input id="archivo" class="form-control-file" type="file" name="archivo">
                    </p>
                    <p>
                        <!-- Desplegable para seleccionar un estudio -->
                        <select name="asignatura_id" required>
                            <% asignaturas.forEach(asignatura => { %>
                                <% if (asignatura.listaProfesores.includes(user.id) || user.rol.toLowerCase() === "admin") { %>
                                    <option value="<%= asignatura._id %>">
                                        <%= asignatura.nombre + " - " + asignatura.curso %>
                                    </option>
                                <% } %>
                            <% }); %>
                        </select>

                        <button class="btn btn-primary" type="submit">
                            Crear Software
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<% if (signupMessage) { %>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 text-center">
           <p style="color:#FF0000;"><%= signupMessage %></p> 
        </div>
    </div>
<% } %>

<% include partials/_footer %>
