<% include partials/_header %>
<H2>Crear Asignatura Nueva</H2>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/signupAsignatura" method="POST">
              <input type="text" name="nombre" placeholder="nombre">
              <input type="number" name="curso" placeholder="curso">
              <input type="text" name="estudio" placeholder="estudio">
              <button class="btn btn-primary" type="submit">
                Crear Asignatura
              </button>
            </form>
          </div>
        </div>
      </div>

<%if (signupMessage) {%>
  <p style="color:#FF0000;"><%= signupMessage %></p>
<% } %>
<% include partials/_footer %>

