<% include partials/_header %>

<div class="container mt-4">
    <div class="card">
    <div class="card-body">
        <h2>Software de la Asignatura: <%= asignatura.nombre %></h2>

        <% if (software && software.length > 0) { %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Enlace</th>
                </tr>
            </thead>
            <tbody>
            <% software.forEach(sw => { %>
                <tr>
                    <td><%= sw.descripcion %></td>
                    <td><a href="<%= sw.link %>" target="_blank"><%= sw.link %></a></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p>No hay software asociado a esta asignatura.</p>
        <% } %>

        <a href="/asignaturas" class="btn btn-secondary">Volver a la lista de asignaturas</a>
    </div>
    </div>
</div>

<% include partials/_footer %>